[submodule "examples/testproject"]
	path = examples/testproject
	url = https://github.com/modelingevolution/version-app.git
[submodule "examples/compose"]
	path = examples/compose
	url = https://github.com/modelingevolution/version-app-compose.git
[submodule "src/Submodules/runtime-configuration"]
	path = src/Submodules/runtime-configuration
	url = https://github.com/modelingevolution/runtime-configuration.git
