[submodule "examples/testproject"]
	path = examples/testproject
	url = https://github.com/modelingevolution/version-app.git
[submodule "examples/compose"]
	path = examples/compose
	url = https://github.com/modelingevolution/version-app-compose.git
